<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey | Home</title>
</head>
<body style="min-height: 100px;border: 2px solid black;margin: 20px auto;width: 400px;padding: 20px;box-sizing: border-box;">
    <form action="/submit" method='post'>
        <div class="name" style="display: flex; align-items: center;justify-content: space-between;">
            <p>Your Name: </p>
            <input type="text" name="full_name" style="width: 150px;">
        </div>
        <div class="location" style="display: flex; align-items: center;justify-content: space-between;">
            <p>Dojo Location: </p>
            <select name="location" style="width: 150px;">
                <option value="Seattle">Seattle</option>
                <option value="San Jose">San Jose</option>
                <option value="New York">New York</option>
            </select>
        </div>
        <div class="language" style="display: flex; align-items: center;justify-content: space-between;">
            <p>Favorite Language: </p>
            <select name="language" style="width: 150px;">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="HTML & CSS">HTML & CSS</option>
            </select>
        </div>
        <p>Comment (optional):</p>
        <input type="text" name="comment" style="width: 100%;display: inline-block;min-height: 75px;margin-bottom: 15px;">
        <input type="submit" value="Submit">
    </form>
</body>
</html>